/* Estilos generales */
.navbar {
  background-color: transparent ;
  color: white;
  padding: 0.5rem 1rem ;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2) ;
  transition: background 0.5s ease ;
}
.navbar-brand img {
  transition: transform 0.5s ease ;
}
.navbar-brand img:hover {
  transform: rotate(360deg) ;
}

/* Estilos para los elementos de la barra de navegación */
.nav-link {
  font-size: 1.5rem ;
  padding: 0.5rem 1rem ;
  transition: background-color 0.5s ease, color 0.5s ease ;
}
.nav-link:hover {
  /*  background-color: rgba(255, 255, 255, 0.1) !important; */
  color: #bf7f30 !important;
}

.nav-scrolled {
  color: rgb(4, 4, 4) !important;
  background-color: #f2f2f2 ;
  transition: background 0.5s ease;
}
.nav-scrolled a {
  color: rgb(0, 0, 0) !important;
}

.fadeOut {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@media (min-width: 3840px) {
  .navbar {
    height: 8%;
  }

  .nav-link {
    font-size: 2rem  !important;
    padding: 0.7rem 1.2rem;
  }
  .logo {
    width: 110%;
  }
}

/* @media (min-width: 1920px){
  .navbar {
    height: 8% ;
  }

  .nav-link {
    font-size: 3rem !important;
    padding: 0.6rem 0.8rem ;
  }
  .logo {
    width: 98%;
  }
} */

@media screen {
  
}