.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  padding: 10%;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/src/assets/img/img-contacto.png");
  background-size: cover;
  background-position: center;
}

.form {
  /*   margin-top: 10%; */
  width: 70%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.form-title {
  text-transform: uppercase;
  /* margin-top: 6%; */
  margin-bottom: 4%;
  font-size: 2.3rem;
  font-weight: bold;
  color: #bf7839;
  text-shadow: 1px 1px #ccc;
}
#form-parrafo {
  width: 80%;
  color: #bf7f30;
  font-weight: bold;
  font-style: italic;
  margin-top: 6%;
}

.form-group {
  width: 85%;
  margin-bottom: 2.5%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  background-color: #BF7839 !important;
  width: 100%;
  padding: 1.3%;
  font-size: 1.2em;
  border: none;
  color: #fff;
  border: 1px solid #fd963b;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  outline: none;
}
.form textarea {
  height: 150px;
  resize: none;
}

input::placeholder {
  color: #fff;
}
textarea::placeholder {
  color: #fff;
}

input:focus,
textarea:focus {
  border: 1px solid #bf7839;
  box-shadow: 0 0 10px #bf7839;
}

button[type="submit"] {
  width: 30%;
  padding: 0.5%;
  font-weight: bold;
  background-color: #fff;
  color: #bf7839;
  border: 2px solid #bf7839;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom: 8%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button[type="submit"]:hover {
  background-color: #bf7839;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 3840px) {
  .form textarea {
    height: 200px;
    resize: none;
  }

  .form {
    width: 50%;
    font-size: 2.5rem;
  }
  .form-title {
    font-size: 3rem;
  }
  button[type="submit"] {
    font-size: 3.2rem !important ;
    width: 35%;
  }

  input,
  textarea {
    font-size: 3.2rem;
  }
}

@media (min-width: 1920px) {
  .form {
    width: 60%;
    font-size: 2rem;
  }
  .form-title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .form {
    width: 90%;
  }
  .form-title {
    font-size: 3rem;
  }
  button[type="submit"] {
    font-size: 1.8rem;
    width: 35%;
  }
  
}

@media (max-width: 768px) {
  .form-container {
  }

  .form {
    width: 100%;
  }
  .form-title {
    font-size: 2.1rem;
  }
  #form-leyenda {
    width: 85% ;
    color: #bf7f30;
    font-weight: bold;
    font-style: italic;
    margin-top: 8%;
  }
}

@media (max-width: 576px) {
  .form-title {
    font-size: 1.5rem;
  }
  input,
  textarea {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .form-title {
    font-size: 1.3rem;
  }
  input,
  textarea {
    font-size: 0.9rem;
  }
  button[type="submit"] {
    width: 40%;
  }
  
}
